
<div class="container p-4">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">

        <h1 class="text-center">App del Clima</h1>
        <h4 class="text-center">Luis Bazaldua</h4>

        <img
          width="140"
          alt="Angular Logo"
          class="m-auto"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="/>

        <form action="" (submit)="submitLocation(nombreCiudad, paisCodigo)">
          <input type="text" class="form-control" placeholder="Nombre de la ciudad" #nombreCiudad name="" id="">

          <input type="text" class="form-control mt-2" placeholder="Codigo de pais: Ejemplo Mexico = MX" #paisCodigo name="" id="">
          
          <button class="btn btn-success btn-block mt-2">
            Ver el clima
          </button>

          
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mx-auto mt-4">
      <div  *ngIf="weather" class="card card-body text-center">
        <h2>Datos de la consulta:</h2>
        <p>Temperatura: {{weather.main.temp}}</p>
        <p>Descripcion: {{weather.weather[0].description}}</p>
        <p>Latitud: {{weather.coord.lat}}</p>
        <p>Longitud: {{weather.coord.lon}}</p>
        <p>Humedad: {{weather.main.humidity}}</p>
        <p>Presion: {{weather.main.pressure}}</p>
      </div>
    </div>
  </div>
</div>
